/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Reset default margins and paddings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    padding-top: 90px;
  }

  .header {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .header .nav-left,
  .header .nav-right {
    display: flex;
    flex: 1; /* Ensure they take up only necessary space */
  }

  .header .nav-left {
    justify-content: flex-end; /* Align left nav to the end */
    margin-right: 20px; /* Add some space between nav and logo */
  }

  .header .nav-right {
    justify-content: flex-start; /* Align right nav to the start */
    margin-left: 20px; /* Add some space between nav and logo */
  }

  .header .logo-container {
    flex: 0; /* Ensure the logo does not grow */
    text-align: center; /* Center the logo */
  }
  .header img {
    display: block; /* Ensure the image is a block element */
    margin: 0 auto; /* Center the logo */
  }

  .nav-link {
    font-family: "Amaranth", sans-serif; /* Common sans-serif fonts */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px; /* Adjust based on your design */
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 20px;
    transition: color 0.5s ease, transform 0.5s ease;
    position: relative;
    overflow: hidden;
  }

  .nav-link.pop-out {
    transform: scale(1.2);
  }

  .nav-link:hover {
    color: red;
  }

  .nav-button {
    height: 35px; /* Adjust the height as needed */
    cursor: pointer;
  }

  .logo-container {
    display: flex;
    align-items: center;
    margin: 0 25px; /* Adjust margin as needed */
  }

  .logo {
    height: 70px;
  }

  .logo-text {
    font-size: 24px;
    font-weight: bold;
  }

  .mission {
    padding: 20px;
    margin: 20px auto;
    max-width: 1300px;
    background-color: #262626;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out,
      color 0.5s ease-in-out;
  }

  .mission:hover {
    transform: scale(1.1);
    background-color: #000000;
    color: #ffffff;
  }

  .mission h2 {
    font-family: "Amaranth", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 60px;
    color: #ff1500;
    text-align: center;
    transition: color 0.3s ease-in-out;
  }

  .mission:hover h2 {
    color: #ffffff;
  }

  .mission p {
    font-family: "Amaranth", sans-serif;
    margin-bottom: 10px;
    color: #ffffff;
    line-height: 1.6;
    text-align: center;
    font-size: 30px;
    transition: color 0.3s ease-in-out;
  }

  .mission:hover p {
    color: #ff0000;
  }

  .mission h4 {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
  }

  .social-small-icon {
    color: white; /* Adjust the color as needed */
    margin: 0 10px; /* Adjust the spacing as needed */
    font-size: 100px; /* Adjust the size as needed */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }

  .social-small-icon:hover {
    color: #ff0000; /* Change color on hover */
  }

  #banner-image {
    opacity: 0;
    width: 100%; /* Ensure the image takes the full width of the banner container */
    height: auto; /* Maintain aspect ratio */
  }

  .banner {
    max-width: 100%; /* Set the maximum width you want */
    margin: 0 auto; /* Center the banner */
  }

  #banner {
    width: 80%;
    position: relative;
    overflow: hidden;
    padding-top: 33.33%; /* 3:1 aspect ratio */
  }

  #banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
  }

  .socials {
    padding: 20px;
    background-color: #262626;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    max-width: 1400px;
  }

  .socials h2 {
    font-family: "Amaranth", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 60px;
    margin-bottom: 20px;
    color: #ff1500;
  }

  .socials-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
  }

  .social i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #555;
  }

  .social a {
    font-family: "Amaranth", sans-serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    margin-right: 30px;
    transition: color 0.5s ease;
  }

  .social:hover {
    transform: scale(1.1);
  }
  .social:hover a {
    color: #ff1500;
  }

  .social-icon {
    width: 75px;
    height: 75px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .profile-section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1300px;
    background-color: #262626;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .profile-section h2 {
    font-family: "Amaranth", sans-serif;
    font-size: 90px;
    margin-bottom: 10px;
    color: #ff1500;
  }

  .profile-section .profile {
    display: inline-block;
    margin: 20px;
    text-align: center;
  }

  .profile-section img {
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }

  .profile-section img:hover {
    scale: 1.1;
  }

  .profile-section a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  .profile-section a:hover {
    text-decoration: underline;
  }

  .our-clubs,
  .allied-clubs {
    padding: 20px;
    margin: 20px auto;
    max-width: 1300px;
    background-color: #262626;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .our-clubs h2,
  .allied-clubs h2 {
    font-family: "Amaranth", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 10px;
    color: #ff1500;
    width: 100%;
  }

  .club-section {
    font-family: "Amaranth", sans-serif;
    text-transform: uppercase;
    margin: 20px;
    padding: 15px;
    background-color: #6c6b6b;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out,
      color 0.3s ease-in-out;
  }

  .club-section:hover {
    transform: scale(1.1);
    background-color: #ff1500;
    color: #ffffff;
  }

  .club-section:hover h3 {
    color: #000000;
  }

  .club-section h3 {
    font-family: "Amaranth", sans-serif;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    transition: color 0.5s ease-in-out;
  }

  .club-section img {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    scale: 1.5;
    padding-top: 6%;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .all-events {
    padding: 20px;
    margin: 20px auto;
    max-width: 1300px;
    background-color: #262626;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .all-events h1 {
    font-family: "Amaranth", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 10px;
    color: #ff1500;
    width: 100%;
  }

  .current-events {
    margin: 20px;
    padding: 15px;
    background-color: #4c4c4c;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    max-width: 1400px;
    text-align: center;
  }

  .current-events h2 {
    font-family: "Amaranth", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .current-events a {
    display: inline-block;
    margin: 15px;
    text-decoration: none;
  }

  .current-events img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .current-events img:hover {
    transform: scale(1.1);
  }

  .custom-footer {
    position: relative; /* Change from fixed to relative */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #420c0c; /* Dark background */
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Amaranth", sans-serif;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  .social-icons a {
    color: #fff;
    font-size: 40px;
    transition: color 0.3s;
  }

  .social-icons a:hover {
    color: #ff0000; /* Highlight color on hover */
  }

  .footer-divider {
    border-top: 1px solid #666; /* Divider line */
    margin: 15px 0;
  }

  .footer-logo {
    margin: 15px 0;
  }

  .footer-logo h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #ffffff; /* Lighter color for footer text */
  }

  .footer-logo p {
    font-size: 14px;
    color: #ffffff; /* Lighter color for copyright text */
  }

  .footer-logo img {
    height: 50px;
    margin-bottom: 10px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }

  .footer-links a:hover {
    color: #ff0000; /* Highlight color on hover */
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      height: auto; /* Adjust height for smaller screens */
    }

    .nav-left,
    .nav-right {
      flex-direction: column;
      width: 100%;
    }

    .nav-link {
      margin: 5px 0;
      width: 100%;
      text-align: center;
    }

    .logo-container {
      margin: 10px 0;
      width: 100%;
      justify-content: center;
    }

    .logo {
      height: 50px; /* Adjust the height as needed */
    }

    .logo-text {
      font-size: 20px;
    }

    #banner img {
      aspect-ratio: 3 / 1; /* Maintain 3:1 aspect ratio */
    }

    body {
      padding-top: auto; /* Adjust padding for smaller screens */
    }
  }
}
